body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: system-ui;

    #container {
        font-size: 1.3rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;

        #canvas {
            width: 800px;
            height: 600px;
            border-radius: 10px;
        }

        #radioContainer {
            display: flex;
            gap: 1rem;
            padding: 1rem;
        }

        .radio-label {
            color: white;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
        }
    }
}